In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuktoyaktuk,CA,2021-12-30 16:26:11,69.4541,-133.0374,-20.20,76,90,4.61
1,1,Tasiilaq,GL,2021-12-30 16:26:12,65.6145,-37.6368,10.56,55,0,4.90
2,2,Laguna,US,2021-12-30 16:26:12,38.4210,-121.4238,45.10,90,90,3.00
3,3,Iowa City,US,2021-12-30 16:25:02,41.6611,-91.5302,28.69,88,90,8.05
4,4,Mar Del Plata,AR,2021-12-30 16:25:36,-38.0023,-57.5575,86.02,49,75,1.99

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# The general syntax for creating a heatmap is as follows.
# Heatmap of temperature
# 1 Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2 Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3 configure the gmap
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and 
# add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# 5 Add the heatmap layer.
fig.add_layer(heat_layer)

# 6 Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Mar Del Plata,AR,2021-12-30 16:25:36,-38.0023,-57.5575,86.02,49,75,1.99
6,6,Cabo San Lucas,MX,2021-12-30 16:23:14,22.8909,-109.9124,75.51,80,88,3.76
9,9,Salinopolis,BR,2021-12-30 16:26:14,-0.6136,-47.3561,81.86,81,83,9.44
10,10,Namatanai,PG,2021-12-30 16:26:14,-3.6667,152.4333,81.32,80,96,6.87
13,13,Broken Hill,AU,2021-12-30 16:24:18,-31.9500,141.4333,77.54,25,0,7.45
15,15,Puerto Ayora,EC,2021-12-30 16:26:16,-0.7393,-90.3518,78.76,79,94,10.16
17,17,Georgetown,MY,2021-12-30 16:21:36,5.4112,100.3354,80.89,86,40,5.75
31,31,Mahebourg,MU,2021-12-30 16:26:20,-20.4081,57.7000,78.26,69,40,10.36
32,32,Mogadishu,SO,2021-12-30 16:26:21,2.0371,45.3438,78.21,74,85,19.89
33,33,Thinadhoo,MV,2021-12-30 16:26:21,0.5333,72.9333,81.36,76,62,12.66

In [11]:
# Determine if there are any null values in the preferred cities 
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
# Determine if there are any null values in the preferred cities, alternative
preferred_cities_df.count()

City_ID       158
City          158
Country       155
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4    Mar Del Plata      AR     86.02 -38.0023  -57.5575
6   Cabo San Lucas      MX     75.51  22.8909 -109.9124
9      Salinopolis      BR     81.86  -0.6136  -47.3561
10       Namatanai      PG     81.32  -3.6667  152.4333
13     Broken Hill      AU     77.54 -31.9500  141.4333
15    Puerto Ayora      EC     78.76  -0.7393  -90.3518
17      Georgetown      MY     80.89   5.4112  100.3354
31       Mahebourg      MU     78.26 -20.4081   57.7000
32       Mogadishu      SO     78.21   2.0371   45.3438
33       Thinadhoo      MV     81.36   0.5333   72.9333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# view the hotel dataframe
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Mar Del Plata,AR,86.02,-38.0023,-57.5575,Gran Hotel Mar del Plata
6,Cabo San Lucas,MX,75.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
9,Salinopolis,BR,81.86,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
10,Namatanai,PG,81.32,-3.6667,152.4333,Seagulls Inn Namatani
13,Broken Hill,AU,77.54,-31.9500,141.4333,Royal Exchange Hotel
15,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang
31,Mahebourg,MU,78.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
32,Mogadishu,SO,78.21,2.0371,45.3438,Hotel Juba
33,Thinadhoo,MV,81.36,0.5333,72.9333,

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))